@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}
.header {
  height: 3em;
  padding-left: 1em;
  background-color: #f4f4f4;
  border-top: .7em solid #f4f4f4;
  border-left: .5em solid #f4f4f4;
}
.title {
  margin: 0px;
}
.addTask {
  margin: auto;
  width: 50%;
}
.addTaskForm {
  width: 40em;
}
.addTaskLabel {
  font-size: 3em;
  margin-bottom: .5em;
}
.addTaskInput {
  width: 25em;
  height: 2em;
  padding-left: 1em;
  font-size: 1em;
  border: 0px;
  border-bottom: 1px solid black;
}
.addTaskInput:focus {
  outline: none;
}
.addTaskButton {
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 2px;
  font-size: 1em;
  margin-left: .5em;
}
.addTaskButton:hover {
  border-radius: 4px;
  cursor: pointer;
}
.showTasks {
  margin: auto;
  width: 50%;
  margin-top: 3em;
}
.showTasksLabel {
  font-size: 3em;
}
.showTasksList{
  font-size: 2em;
  list-style-type: square;
}
.footer {
  height: 3em;
  position: absolute;
  bottom: 0px;
  background-color: lightgray;
  width: 100%;
}
.copyrightText {
  float: right;
  padding-top: 0em;
  padding-right: 1em;
  font-size: 1em;
  opacity: .3;
}
